In [216]:
import pandas as pd
from datetime import datetime

In [217]:
df = pd.read_csv("job_posts.csv")
df

,Level,Offers Remote,Publish Time,Salary,Title,Close Time,State,Collaboration Type
0,S,False,2020-04-20 16:52:15,<8MT,توسعه‌دهنده Node.js,2020-06-20 03:00:06,C,FT
1,J,False,2020-02-24 12:55:02,<12MT,توسعه‌دهنده Backend,2020-04-25 03:00:05,C,FT
2,J,True,2020-02-12 13:49:32,<8MT,توسعه‌دهنده C#,2020-04-13 03:00:05,C,FT
3,J,False,2020-08-18 15:46:48,<3MT,توسعه‌دهنده Front-end,2020-08-25 21:51:39,C,PT
4,NaN,False,2017-05-01 20:23:08,NaN,توسعه دهنده #C,2017-06-30 20:23:08,C,NaN
...,...,...,...,...,...,...,...,...
7664,S,False,2021-05-17 10:11:20,NaN,DevOps Engineer,2021-06-27 04:04:50,C,FT
7665,S,False,2021-05-17 09:54:44,NaN,برنامه‌نویس ASP.NET Core,2021-06-27 04:04:50,C,FT
7666,S,False,2021-05-17 09:53:45,NaN,توسعه‌دهنده C++ (qt),2021-06-27 04:04:50,C,FT
7667,S,False,2021-05-17 08:17:06,NaN,کارشناس هوش مصنوعی,2021-06-27 04:04:50,C,FT
7668,S,True,2021-05-15 16:24:36,>12MT,توسعه‌دهنده ارشد Front-end,2021-06-27 04:04:50,C,FT

In [218]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7669 entries, 0 to 7668
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Level               7246 non-null   object
 1   Offers Remote       7669 non-null   bool
 2   Publish Time        7669 non-null   object
 3   Salary              3493 non-null   object
 4   Title               7669 non-null   object
 5   Close Time          7087 non-null   object
 6   State               7669 non-null   object
 7   Collaboration Type  7246 non-null   object
dtypes: bool(1), object(7)
memory usage: 427.0+ KB

In [219]:
df.dropna(subset=['Salary', 'Level', 'Collaboration Type'], inplace=True)

In [220]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3493 entries, 0 to 7668
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Level               3493 non-null   object
 1   Offers Remote       3493 non-null   bool
 2   Publish Time        3493 non-null   object
 3   Salary              3493 non-null   object
 4   Title               3493 non-null   object
 5   Close Time          3315 non-null   object
 6   State               3493 non-null   object
 7   Collaboration Type  3493 non-null   object
dtypes: bool(1), object(7)
memory usage: 221.7+ KB

In [221]:
df['Salary'] = df['Salary'].str.extract(r"(\d+)", expand=False).astype(int)
df['Salary']

0        8
1       12
2        8
3        3
7        4
        ..
7649    12
7654     6
7655     8
7661     6
7668    12
Name: Salary, Length: 3493, dtype: int32

In [222]:
df['Salary'] = df.groupby('Level')['Salary'].transform(lambda x: x.fillna(x.mean()))

In [223]:
start_of_corona = datetime.strptime("2020-02-19", "%Y-%m-%d")
start_of_corona

datetime.datetime(2020, 2, 19, 0, 0)

In [224]:
df['Publish Time'] = pd.to_datetime(df['Publish Time'])
df['start_of_corona'] = df['Publish Time'].apply(lambda X: "before" if X<pd.to_datetime('2020-2-19') else "after")

In [225]:
df

,Level,Offers Remote,Publish Time,Salary,Title,Close Time,State,Collaboration Type,start_of_corona
0,S,False,2020-04-20 16:52:15,8,توسعه‌دهنده Node.js,2020-06-20 03:00:06,C,FT,after
1,J,False,2020-02-24 12:55:02,12,توسعه‌دهنده Backend,2020-04-25 03:00:05,C,FT,after
2,J,True,2020-02-12 13:49:32,8,توسعه‌دهنده C#,2020-04-13 03:00:05,C,FT,before
3,J,False,2020-08-18 15:46:48,3,توسعه‌دهنده Front-end,2020-08-25 21:51:39,C,PT,after
7,S,False,2020-02-12 14:00:42,4,توسعه‌دهنده C#,2020-04-13 03:00:05,C,PT,before
...,...,...,...,...,...,...,...,...,...
7649,S,False,2021-05-17 20:17:10,12,برنامه‌نویس Java,2021-06-27 04:04:46,C,FT,after
7654,J,True,2021-05-17 17:40:19,6,توسعه‌دهنده Back-end / PHP / Laravel,2021-06-27 04:04:47,C,FT,after
7655,S,False,2021-05-17 17:38:17,8,توسعه‌دهنده Front-end,2021-06-27 04:04:47,C,FT,after
7661,J,True,2021-05-17 11:44:38,6,برنامه‌نویس .NET,2021-06-27 04:04:49,C,FT,after
7668,S,True,2021-05-15 16:24:36,12,توسعه‌دهنده ارشد Front-end,2021-06-27 04:04:50,C,FT,after

In [226]:
df['remote_flag'] = df['Offers Remote'].apply(lambda x: 1 if x == True else 0)

In [227]:
df

,Level,Offers Remote,Publish Time,Salary,Title,Close Time,State,Collaboration Type,start_of_corona,remote_flag
0,S,False,2020-04-20 16:52:15,8,توسعه‌دهنده Node.js,2020-06-20 03:00:06,C,FT,after,0
1,J,False,2020-02-24 12:55:02,12,توسعه‌دهنده Backend,2020-04-25 03:00:05,C,FT,after,0
2,J,True,2020-02-12 13:49:32,8,توسعه‌دهنده C#,2020-04-13 03:00:05,C,FT,before,1
3,J,False,2020-08-18 15:46:48,3,توسعه‌دهنده Front-end,2020-08-25 21:51:39,C,PT,after,0
7,S,False,2020-02-12 14:00:42,4,توسعه‌دهنده C#,2020-04-13 03:00:05,C,PT,before,0
...,...,...,...,...,...,...,...,...,...,...
7649,S,False,2021-05-17 20:17:10,12,برنامه‌نویس Java,2021-06-27 04:04:46,C,FT,after,0
7654,J,True,2021-05-17 17:40:19,6,توسعه‌دهنده Back-end / PHP / Laravel,2021-06-27 04:04:47,C,FT,after,1
7655,S,False,2021-05-17 17:38:17,8,توسعه‌دهنده Front-end,2021-06-27 04:04:47,C,FT,after,0
7661,J,True,2021-05-17 11:44:38,6,برنامه‌نویس .NET,2021-06-27 04:04:49,C,FT,after,1
7668,S,True,2021-05-15 16:24:36,12,توسعه‌دهنده ارشد Front-end,2021-06-27 04:04:50,C,FT,after,1

In [233]:
remote_before = df[(df['start_of_corona'] == 'before' ) & (df['Offers Remote'] == True)].shape[0]
total_before = df[df['start_of_corona'] == 'before'].shape[0]
rate_before = remote_before / total_before
print(rate_before)

0.170182841068917

In [235]:
remote_after = df[(df['start_of_corona'] == 'after' ) & (df['Offers Remote'] == True)].shape[0]
total_after = df[df['start_of_corona'] == 'after'].shape[0]
rate_after = remote_after / total_after
print(rate_after)

0.35262401150251615

In [237]:
remote_growth = (rate_after - rate_before)
print(remote_growth)

0.18244117043359914