In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv("job_posts.csv")
df

,Level,Offers Remote,Publish Time,Salary,Title,Close Time,State,Collaboration Type
0,S,False,2020-04-20 16:52:15,<8MT,توسعه‌دهنده Node.js,2020-06-20 03:00:06,C,FT
1,J,False,2020-02-24 12:55:02,<12MT,توسعه‌دهنده Backend,2020-04-25 03:00:05,C,FT
2,J,True,2020-02-12 13:49:32,<8MT,توسعه‌دهنده C#,2020-04-13 03:00:05,C,FT
3,J,False,2020-08-18 15:46:48,<3MT,توسعه‌دهنده Front-end,2020-08-25 21:51:39,C,PT
4,NaN,False,2017-05-01 20:23:08,NaN,توسعه دهنده #C,2017-06-30 20:23:08,C,NaN
...,...,...,...,...,...,...,...,...
7664,S,False,2021-05-17 10:11:20,NaN,DevOps Engineer,2021-06-27 04:04:50,C,FT
7665,S,False,2021-05-17 09:54:44,NaN,برنامه‌نویس ASP.NET Core,2021-06-27 04:04:50,C,FT
7666,S,False,2021-05-17 09:53:45,NaN,توسعه‌دهنده C++ (qt),2021-06-27 04:04:50,C,FT
7667,S,False,2021-05-17 08:17:06,NaN,کارشناس هوش مصنوعی,2021-06-27 04:04:50,C,FT
7668,S,True,2021-05-15 16:24:36,>12MT,توسعه‌دهنده ارشد Front-end,2021-06-27 04:04:50,C,FT

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7669 entries, 0 to 7668
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Level               7246 non-null   object
 1   Offers Remote       7669 non-null   bool
 2   Publish Time        7669 non-null   object
 3   Salary              3493 non-null   object
 4   Title               7669 non-null   object
 5   Close Time          7087 non-null   object
 6   State               7669 non-null   object
 7   Collaboration Type  7246 non-null   object
dtypes: bool(1), object(7)
memory usage: 427.0+ KB

In [4]:
df.dropna(subset=['Salary', 'Level', 'Collaboration Type'], inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3493 entries, 0 to 7668
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Level               3493 non-null   object
 1   Offers Remote       3493 non-null   bool
 2   Publish Time        3493 non-null   object
 3   Salary              3493 non-null   object
 4   Title               3493 non-null   object
 5   Close Time          3315 non-null   object
 6   State               3493 non-null   object
 7   Collaboration Type  3493 non-null   object
dtypes: bool(1), object(7)
memory usage: 221.7+ KB